{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ bin.id }}</h2>
	<small> Bin's Attributes:<br/>
	Height: {{ bin.height }}<br/>
	Width: {{ bin.width }}<br/>
	Level: {{ bin.level }}<br/>
	Depth: {{ bin.depth }}<br/>
	Latitude: {{ bin.latitude }}<br/>
	Longitude: {{ bin.longitude }}<br/>
	Released: {{ bin.status }}<br/>
	Available: {{ bin.availability }}<br/>
	Last Released: {{ bin.last_pickup_time }}<br/>
	Last Acquired: {{ bin.last_acquire_time }}<br/>

	</small>

</div>

<a href="{{ url_for('bins')}}" class="btn btn-outline-secondary btn-sm">Back To Bins</a>
	{% if not bin.status %}
	<a href="{{ url_for('make_released', id=bin.id)}}" class="btn btn-outline-danger btn-sm">Release bin</a>
	{% endif %}
	{% if not bin.availability %}
	<a href="{{ url_for('make_available', id=bin.id)}}" class="btn btn-outline-danger btn-sm">Make Bin Available</a>
	{% endif %}
	<a href="{{ url_for('remove_ownership', id=bin.id)}}" class="btn btn-outline-danger btn-sm">Remove Ownership</a>


{% endblock %}