{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>
<h1>Your Bins</h1>
<br/>

{% for bin in bins %}
<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ bin.title }}</h2>
    By: {{ bin.poster.name }} <br/>
	<small> {{ bin.date_posted }} </small>
    <br/><br/>
    {{ bin.content }}
	<br/><br/>
	<a href="{{ url_for('bins', id=bin.id)}}" class="btn btn-outline-secondary btn-sm">View Bin</a>
{% if bin.poster_id == current_user.id %}
	<a href="{{ url_for('edit_bin', id=bin.id)}}" class="btn btn-outline-secondary btn-sm">Edit Bin</a>
	<a href="{{ url_for('delete_bin', id=bin.id)}}" class="btn btn-outline-danger btn-sm">Delete Bin</a>
{% endif %}
</div>
<br/>
{% endfor %}
<br/>
{% endblock %}