{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}

		{{ form.title(class="form-control") }}
		<br/>

		{{ form.height.label(class="form-label") }}

		{{ form.height(class="form-control") }}
		<br/>

		{{ form.width.label(class="form-label") }}

		{{ form.width(class="form-control") }}
		<br/>

		{{ form.level.label(class="form-label") }}

		{{ form.level(class="form-control") }}
		<br/>
		{{ form.depth.label(class="form-label") }}

		{{ form.depth(class="form-control") }}
		<br/>
		{{ form.latitude.label(class="form-label") }}

		{{ form.latitude(class="form-control") }}
		<br/>
		{{ form.longitude.label(class="form-label") }}

		{{ form.longitude(class="form-control") }}
		<br/>
		{# boolean field 'released' #}
		<div class="form-check">
			{{ form.released(class="form-check-input", id="released-checkbox") }}
			{{ form.released.label(class="form-check-label", for="released-checkbox") }} (Released)
		</div>
		<br/>

		{# Another boolean field 'available' #}
		<div class="form-check">
			{{ form.available(class="form-check-input", id="available-checkbox") }}
			{{ form.available.label(class="form-check-label", for="available-checkbox") }} )Available)
		</div>
		<br/>




		{{ form.submit(class="btn btn-secondary") }}
        </form>

</div>

<a href="{{ url_for('bins')}}" class="btn btn-outline-secondary btn-sm">Back To Bins</a>



{% endblock %}