{% extends 'base.html' %}

{% block content %}

<html>
<head>
    <title>Scatter Map</title>
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        /* Define the style for the bin icons */
        .bin-icon img {
            width: 16px;
            height: 32px;
        }
    </style>
</head>
<body>
    <div id="map" style="height: 750px;"></div>
    <script>
        // Function to get the bin icon URL based on the level value
        function getIconUrl(level) {
            if (level <= 25) {
                return '/static/bin_icon_green.png';
            } else if (level <= 50) {
                return '/static/bin_icon_yellow.png';
            } else if (level <= 75) {
                return '/static/bin_icon_orange.png';
            } else {
                return '/static/bin_icon_red.png';
            }
        }

        // Initialize an empty array to store all bin markers
        var markers = [];

        // Initialize the map
        var map = L.map('map');

        // Add a tile layer to the map (you can choose any provider you like)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Add markers for each bin's latitude and longitude
        var latitudes = {{ latitudes | tojson }};
        var longitudes = {{ longitudes | tojson }};
        var levels = {{ levels | tojson }}; // Assuming 'levels' contains the bin level data
        var ids = {{ ids | tojson }};
        for (var i = 0; i < latitudes.length; i++) {
            var binLevel = levels[i]; // Access the individual bin level
            var iconUrl = getIconUrl(binLevel); // Get the appropriate icon URL

            // Create a custom icon using the bin-shaped image and apply the color as background
            var icon = L.divIcon({
                className: 'bin-icon',
                iconSize: [16, 32],
                iconAnchor: [8, 32],
                popupAnchor: [0, -32],
                html: '<a href="http://localhost:5000/bin/' + ids[i] + '"><img src="' + iconUrl + '"></a>'
            });

            // Add the marker with the custom icon to the map
            var marker = L.marker([latitudes[i], longitudes[i]], { icon: icon });
            markers.push(marker);
        }

        // Create a feature group and add all bin markers to it
        var markersGroup = L.featureGroup(markers);

        // Fit the map to the bounds of the markers
        map.fitBounds(markersGroup.getBounds());

        // Add the markersGroup (bin markers) to the map after setting its view
        markersGroup.addTo(map);
    </script>
</body>
</html>

{% endblock %}
